#title{
    text-align: center;
    font-family: 'Hubballi', cursive;
}

#description{
    text-align: center;
    font-family: 'Hubballi', cursive;

}

#form-container{

}

#survey-form{

}

#name-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}

#name{

}

#email-label{
    text-align: center;
    font-family: 'Hubballi', cursive;
}

#email{

}

#number-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}

#number{

}

#vehicle-label{
    text-align: center;
    font-family: 'Hubballi', cursive;
}

#dropdown{}

#radio-group-div-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}

#radio-group-div{

}

#radio1{

}

#radio2{

}

#radio1-label{
    text-align: center;
    font-family: 'Hubballi', cursive;
    
}
#radio3{

}

#checkbox-group-div-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}
#checkbox-group-div{}

#checkbox1{

}
#checkbox1-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}
#checkbox2{

}

#checkbox3{

}
#textbox-label{
    text-align: center;
    font-family: 'Hubballi', cursive;
}

#textbox-query{

}
#submit{

}