body{
    font-size: 15px;
    background-color: rgb(77, 76, 76);

}
#title{
    text-align: center;
    font-family: 'Hubballi', cursive;
    font-size: 3rem;
}

#description{
    text-align: center;
    font-family: 'Hubballi', cursive;

}


#survey-form{
    margin: auto;
    width: fit-content;
    background-color: gray;
    padding: 5%;
    border-radius: 4%;
    box-shadow: 0.4rem 0.4rem 1rem black, -0.4rem -0.4rem 1rem black ;
}

#name-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}

#name{
    width: 50%;
    max-width: 20rem;

}

#email-label{
    text-align: center;
    font-family: 'Hubballi', cursive;
}

#email{
    width: 50%;
    max-width: 20rem;

}

#number-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}

#number{
    width: 50%;
    max-width: 20rem;
}

#vehicle-label{
    text-align: center;
    font-family: 'Hubballi', cursive;
}

#dropdown{
    width: 50%;
    max-width: 20rem;
}

#radio-group-div-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}


#radio1{
    margin-left: 3%;

}

#radio2{
    margin-left: 3%;

}

.radio1-label{
    text-align: center;
    font-family: 'Hubballi', cursive;
    
}
#radio3{
    margin-left: 3%;

}

#checkbox-group-div-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}


#checkbox1{
    margin-left: 3%;

}
.checkbox1-label{
    text-align: center;
    font-family: 'Hubballi', cursive;

}
#checkbox2{
    margin-left: 3%;

}

#checkbox3{
    margin-left: 3%;

}
#textbox-label{
    text-align: center;
    font-family: 'Hubballi', cursive;
}

#textbox-query{
    max-width: 20rem;
    

}
#submit{
    background-color: rgb(46, 46, 46);
    text-align: center;
    color: gray;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    cursor: pointer;
}
